<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% load crispy_forms_tags %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Seaweed+Script" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link rel="icon" href="https://image.ibb.co/nhxWkf/HAND-MADE-2.png" type="image/x-icon" />


	<style>
/*		body{
			/* The image used */
			background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/70E7/production/_103830982_gettyimages-1046032522.jpg); 
			 Center and scale the image nicely 
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment:fixed; 

		}*/
		.quotes{
			padding-top: 30px;
/*			font-family: 'Nunito', sans-serif;*/
			font-size: 35px;
		}
		#bg-text {
		  background-color: rgb(0,0,0); /* Fallback color */
		  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/ see-through */
		  /**z-index: 2;*/
		  width: 70%;
		  height: fit-content;
		  bottom: 80%;
		  padding-bottom: 40px;
/*		  border-radius: 100px;*/
		  font-family: 'Amaranth', sans-serif;
		}

		.container-fluid{
			text-align: center;
			color: white;
			height: fit-content;

		}

		.col-sm-6{
			padding-top: 30px;
		}

		.square{
			background-color: #CBCACA;
			color: black;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
		input.form-control{
			max-width: 200px;
			font-size: 20px;
    		margin: auto;
		}

		.donasi-jumlah{
			background-color: #CBCACA;
			color: black;
			width: 60%;
			border-radius: 50px;
			margin: auto;

		}

		/* Set black background color, white text and some padding */
	    footer {
	    	background-color: #CBCACA;
	      	color: white;
	      	max-height: 90px;
	    }
	    .copyright{
	    	padding-top: 10px;
	    	font-family: 'Roboto', sans-serif;	
	    	color: black;    
	    }

	    #div_id_transferNamaBank{
	    	width: 50%;
	    	margin: auto;
	    }

	    #div_id_transferUntukProgram{
	    	width: 50%;
	    	margin: auto;
	    }


	</style>


	<title>Form Donasi</title>
</head>
<body style="background-color: #CBCACA">
	<nav>
		{% include 'navbar.html' %}
	</nav>
	<br>
	{% block content %}
	<div class="container-fluid" id="bg-text">
		<br>
		<h1 class="quotes">"Berbagi senyuman, ringankan beban, <br>dan ulurkan tangan mu untuk mereka!"</h1>
		<div class="row">
			<div class="col-sm-6">
				<section name="form">
	                <br>
	                <form method="POST" action="{% url 'donasi' %}">
	                	<p>Nama:<br> {{ user.first_name }} {{ user.last_name }}</p>
	                	<p>Email:<br> {{ user.email }}<br></p>
	                    {% csrf_token %}
	                    {{ form|crispy }}
	                    <input type="submit" value="Submit" class="btn btn-success">
	                    <br>
	                </form>
            	</section>
			</div>
			<div class="col-sm-6">
				<br>
				<br>
				<p>Anda bisa transfer ke rekening di bawah ini:</p>
				<div class="square">
					<p>Nomor Rekening: <br>BNI 0987654321 <br>BCA 1234567890</p>
					<p>Atas nama Yayasan Sinar Perak</p>
				</div>
				<p>Mohon konfirmasi setelah transfer (pilih salah satu): <br>Whatsapp : 08123456789<br>SMS : 08567891234</p>
				<br>
			</div>
		</div>
	</div>
	<br>
	<footer>
		{% include 'footer.html' %}
	</footer>
	{% endblock %}	
</body>
</html>