<!DOCTYPE html> 
<html>
<head>
	<title>Daftar Nama</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Istok+Web:700|Karla:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>
   /* Set black background color, white text and some padding */
      footer {
        background-color: #CBCACA;
          color: white;
          max-height: 90px;
      }
      .copyright{
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;  
        color: black;    
      }
 
  </style>
</head>
<body style="background-color:grey">

  <nav>
  {% block content %} {% endblock %}
   {% include 'navbar.html' %}
  </nav>

  <div class="container-fluid bg-3 text-center">    
  <br>
  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4" id="bg-text"> 
      <div style="margin: 5% 8%">
    {% csrf_token %}
    {% if message %} 
        <table class="table">
            <tr bgcolor=black>
                <th scope="col" style="color: white">List Nama Donatur</th>
                <th scope="col" style="color: white">Uang Donasi</th>
                <th scope="col" style="color: white">Program yang Diikuti</th>
            </tr>


            {% for item in message %}
            <tr bgcolor=white>
                <td>{{ item.transferAtasNama }}</td>
                <td>{{ item.jumlah_donasi }}</td>
                <td>{{ item.transferUntukProgram }}</td>
            </tr>
            {% endfor %}
        </table>
       {% else %}
        <h2 class="container-fluid bg-3 text-center">Tidak Punya Donasi</h2>
    {% endif %}
       
    </div>

    <div class="col-sm-4"> 
    </div>

  </div>

</div>
	
    </div>



    <br>
    <footer>
      {% include 'footer.html' %}
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>