<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Form Registrasi</title>

  </head>

<style>
body, html {
    height: 100%;
    margin: 0;
}

label, li{
  color: white;
}

.bg {
    /* The image used */
    background-image: url("https://image.ibb.co/mVd8BL/153961451723507132.jpg");
    background-color: Gainsboro;
    width: 100%;
    height: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bg-text{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  width: 100%;
  height: auto;
  
}


/* Set black background color, white text and some padding */
     footer {
      background-color: #CBCACA;
        color: white;
        max-height: 90px;
     }
     .copyright{
      padding-top: 10px;
      font-family: 'Roboto', sans-serif; 
      color: black;    
     }




</style>
  

<!-- navigasi barrr-->

<body class="bg">
  
  <!-- Just an image -->
<nav>
  {% block content %} {% endblock %}
   {% include 'navbar.html' %}
  </nav>
 



<div class="container-fluid bg-3 text-center">    
  <br>
  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-4" id="bg-text"> 
      <h1 style="color: white">Registrasi Donasi</h1>
      <div style="margin: 5% 20%">
          <form id ="form" method = "POST" action= "{% url 'signup' %}">
             {% csrf_token %}
           {{Form_Signup.as_p}}
        <button type= "submit" class= "btn btn-success">Daftar</button>

        </form>
      </div>
       
    </div>

    <div class="col-sm-4"> 
    </div>
  </div>
</div>

<br>

<footer>
  {% include 'footer.html' %}
</footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% if Error %}
       <script type="text/javascript">
        alert("Email anda sudah terdaftar! Silahkan Isi Email Baru")
      </script>
    {% endif %}
   
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>