{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Login with Google</title>
	<meta charset="utf-8">
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		 <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		 <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		 <script rel="stylesheet" href="https://cdjns.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></script>
		 <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
		 <link href="https://fonts.googleapis.com/css?family=Signika" rel="stylesheet">
		 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
		 <link rel="icon" href="https://image.ibb.co/nhxWkf/HAND-MADE-2.png" type="image/x-icon" />

<style>
.col-md-12{
	background-color: rgb(86,86,86);
	background-color: rgba(86,86,86, 0.7);
	border-radius: 20px;
	margin-top: 20px;
	text-align: center;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 30px;
	padding-right: 30px;
	color: white;
}

</style>
</head>

<body style="background-color: #CBCACA">

	<nav>
		
<head><link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"></head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: Gainsboro;">
  <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="navbar-brand" href="/" style="">
    <img src="https://image.ibb.co/nhxWkf/HAND-MADE-2.png" width="30" height="30" alt="">
    UntukMereka
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--       <li class="nav-item active">
        <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="nav-link" href="/">Beranda<span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item active">
        <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="nav-link" href="/app_ayu/news">Berita<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item active">
        <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="nav-link" href="/app_ayu/tentangkami">Tentang Kami<span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="nav-link" href="/history">Profile<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>

</nav>
	
<center>
<div class="container">
       <div class="col-md-6">
       		<br>
           <div class="col-md-12">
           	
            <img src="https://i.ibb.co/w6WtxPp/HAND-MADE.png" style="height: auto; width: 30% ; text-align: center; font-family: 'Nunito', sans-serif;" >
            <br><br>

            <h3 style="text-align: center; font-family: 'Nunito', sans-serif;">Untuk Mereka</h3>
            <h5 style="text-align: center; font-family: 'Nunito', sans-serif;">I’m for truth, no matter who tells it. I’m for justice, no matter who it is for or against. I’m a human being, first and foremost, and as such I’m for whoever and whatever benefits humanity as a whole. Malcolm X</h5>
            <br><br><br>

		    {% if user.is_authenticated %}
		    <img src="https://i.ibb.co/5vcXr3m/user.png" style="height: auto; width: 10%">
			<h3 style="text-align: center; font-family: 'Nunito', sans-serif;">Hello, {{ user.first_name }} {{user.last_name}}</h3>
			<span><button class="btn btn-warning"><a href="{% url 'beranda' %}" style="color: white">Donasi</a></button></Sspan>
			<span><button class="btn btn-danger"><a href="{% url 'logout' %}" style="color: white">Logout</a></button></span>
			{% else%}
			<span><a href="{% url 'social:begin' 'google-oauth2' %}"><button class="btn btn-danger">Login With Google</button></a> </span>
			{% endif %}

                <div class="col-md-11">
                </div>
              </div>
            </div>
        </div>
    </div>
   </center>



  


  
    
<footer>
		{% include 'footer.html' %}
	</footer>
	

  </div>
</div>




	

</body>
</html>