<!DOCTYPE html>
<html lang="en">
<head>
	<title>Beranda</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
	<link rel="icon" href="https://image.ibb.co/nhxWkf/HAND-MADE-2.png" type="image/x-icon" />


	<style>
	.card-title{
		text-align: center;
		font-family: 'Nunito', sans-serif;
		font-weight: bold;
	}
	.card-text{
		font-family: 'Nunito', sans-serif;
		text-align: center;
	}
	.thumbnail{
		position: relative;
		display: inline-block;
		max-width: 100%;
    	height: auto;
    	z-index: 3;
    	text-align: center;
	}
	#baten{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	footer{
		font-weight: normal;
	}

	</style>
</head>


<body style="background-color: #CBCACA">
	<nav>
		{% include 'navbar.html' %}
	</nav>
	<div class="container">
		<div class="col-sm-12">
			<br>
			<br>
			<div class="bg-search">
				<div class="thumbnail col-sm-12">
					<img src="https://pbs.twimg.com/media/Dt6lZF7U8AATJRE.jpg:large" class="img-fluid" alt="Responsive image" style="-webkit-filter: brightness(100%); filter: brightness(100%); width: 100%;">
				</div>
			</div>
			<br><br>

			<h1 style="text-align: center; font-family: 'Nunito', sans-serif;"><b>Program Kami<b></h1>
			<br>
			<div class="row">
				<div class="card-deck">
					<div class="card">
	    				<img class="card-img-top" src="https://www.dw.com/image/45704468_303.jpg" alt="Card image cap">
	    				<div class="card-body">
	    					<h5 class="card-title">Donggala Butuh Kita</h5>
	    					<p class="card-text">Indonesia bagian Sulawesi berduka. Mari ulurkan tangan dan sejenak berdoa untuk mereka</p>
	    					<br><br>
	    					{% if user.is_authenticated %}
	    					<a href="/donasi" class="btn btn-dark" id="baten">DONASI</a>
	    					{% else %}
	    					<a href="/logingoogle" class="btn btn-dark" id="baten">DONASI</a>
	    					{% endif %}
	    				</div>
	    			</div>

	    			<div class="card">
	    				<img class="card-img-top" src="http://cdn2.tstatic.net/wartakota/foto/bank/images/20180117-gizi-buruk-papua_20180117_112322.jpg" alt="Card image cap">
	    				<div class="card-body">
	    					<h5 class="card-title">Sisihkan Makananmu Untuk Papua</h5>
	    					<p class="card-text">Sebagian besar masyarakat Papua kekurangan makanan. Sebagian kecil makananmu, berarti besar untuk mereka</p>
	    					<br>
	    					{% if user.is_authenticated %}
	    					<a href="/donasi" class="btn btn-dark" id="baten">DONASI</a>
	    					{% else %}
	    					<a href="/logingoogle" class="btn btn-dark" id="baten">DONASI</a>
	    					{% endif %}
	    				</div>
	    			</div>

	    			<div class="card">
	    				<img class="card-img-top" src="http://cdn2.tstatic.net/aceh/foto/bank/images/warga-mengangkat-sepeda-motornya-dari-reruntuhan-rumah-pascagempa-di-lombok-barat-ntb_20180806_143851.jpg" alt="Card image cap">
	    				<div class="card-body">
	    					<h5 class="card-title">Indonesia Bersama Lombok</h5>
	    					<p class="card-text">Nusa Tenggara Barat diterjang gempa, masihkah kamu tega berdiam saja? Ayo segera bantu mereka!<p>
	    					<br><br>
	    					{% if user.is_authenticated %}
	    					<a href="/donasi" class="btn btn-dark" id="baten">DONASI</a>
	    					{% else %}
	    					<a href="/logingoogle" class="btn btn-dark" id="baten">DONASI</a>
	    					{% endif %}
	    				</div>
	    			</div>
	    		</div>
	    	</div>
	    </div>
    </div>
    <br>
    <br>
    <footer>
		{% include 'footer.html' %}
	</footer>
</body>
</html>
