<!DOCTYPE html>

{% load static %}

<html>

<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Amaranth" rel="stylesheet">
  <link rel="icon" href="https://image.ibb.co/nhxWkf/HAND-MADE-2.png" type="image/x-icon" />

  <style>
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .bg-image {
    /* The image used */
    background-image: url(https://www.nusabali.com/article_images/39167/trauma-healing-korban-gempa-palu-800-2018-10-06-133150_0.jpg);
    height: 100%; 
    width: 100%;
    -webkit-filter: opacity(50%);filter: opacity(50%);

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: white; /* Fallback color */
    opacity: 0.4;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    height: 70%;
    text-align:center;
    border-radius: 75px;
    opacity: 0.8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -100px;
  }

  .bg-text h2, p, h1{
    font-family: 'Amaranth', sans-serif;
  }

  .bg-text img{
    width: 120px;
    height: 120px;
    object-fit:cover;
    margin-top: 20px;
  }

  @media only screen and (max-width: 600px) {
    .bg-image, .bg-text{
      flex-direction: row;
    }
    footer {
      background-color: #CBCACA;
      color: white;
      max-height: 90px;
    }
    .copyright{
      padding-top: 10px;
      font-family: 'Roboto', sans-serif;  
      color: black;    
    }
  </style>

</head>

<body>
  
  <nav>
    {% include 'navbar.html' %}
  </nav>

	<div class="bg-image"></div>
	<div class="bg-text">
		<img src="http://greencleaningproductsllc.com/wp-content/uploads/2012/07/green-cleaning-green-icon.png" style="max-width: 100%;
    height: auto;"/>
		<h2 style="font-size:3vw;">Terima Kasih atas Donasi Anda!</h2>
		<p style="font-size:2vw;">Donasi anda telah diproses!</p>
		<h1 style="font-size:2vw;">100% dari donasi anda akan<br>
		diberikan kepada<br>
		saudara - saudara yang<br>
		membutuhkan</h1>

    <p><a href="/app_aulia/daftarnama/">Lihat List Donatur Disini!</a></p>
	</div>
  
  <footer>
    {% include 'footer.html' %}
  </footer>

</body>
</html>
