<!DOCTYPE html>
<html>
<head>
  <title>Berita Terkini</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Istok+Web:700|Karla:400,700" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Sriracha" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
<link rel="icon" href="https://image.ibb.co/nhxWkf/HAND-MADE-2.png" type="image/x-icon" />
  <style>

    .container-fluid{
    font-family: 'Nunito', sans-serif;
    }
    .container{
    font-family: 'Nunito', sans-serif;
    }

    footer {
        background-color: #CBCACA;
          color: white;
          max-height: 90px;
      }

    .copyright{
        padding-top: 10px;
        font-family: 'Roboto', sans-serif;  
        color: black;    
      }
  </style>
</head>
<body style="background-color: #CBCACA">

    <nav>
        {% include 'navbar.html' %}
      </nav>
      

 <div class="container-fluid text-center">
   <br>
   <br>
    <h2><b>BERITA TERKINI</b></h2>
      <h4></h4>
      <br>
      <br>
  <div class="container">
  <div class="row">
    {% for berita in all_news %}
    <br>
    <div class="col-sm-6">
      <br>
      <br>
        <img src={{berita.gambar}}  width=100% height=auto>
    </div>
    <br>
    <div class="col-sm-6 tulisan">
      <br>
      <br>
      <h1>{{berita.judul}}</h1>
      <p>
          {{berita.penggalan}} <a href={{berita.lanjut}} target="_blank">Read more</a>
      </p>
      <br>
      <br>
    </div>
    {%endfor%}
  </div>
</div>
  

    <br>
  <footer>
    {% include 'footer.html' %}
  </footer>
</body>
</html>