<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!-- 	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

	<title>Profil dan Donasi saya</title>

</head>
<body style="background-color: #CBCACA">
	<nav>
		{% include 'navbar.html' %}
	</nav>
	{% block content %}
	{% csrf_token %}
	<div class="container" >
		<div class="row">
			<div class="col-md-12">
				<br>
				<h1 class="text-center" style="font-family: 'Nunito', sans-serif;"><b>Daftar Donasi yang Telah Dilakukan</b></h1>
				<br><br><br>
				<div class="text-center" style="font-family: 'Nunito', sans-serif;">
				<h5>Nama: {{ name }}<br></h5>
				<h5>Email: {{ email }}<br></h5>
				<br>
				<button type="button" class="btn btn-primary" onclick="listDonatur('{{ email }}')" data-toggle="modal" data-target="#myModal">List Donasi</button>
			</div>
			</div>
			<div class="modal fade" id= "myModal" style="font-family: 'Nunito', sans-serif;">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<!--Modal Header-->
						<div class="modal-header">
							<h4 class="modal-title"></h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						<!-- Modal Body -->
						<div class="modal-body">
							<div class="d-flex flex-wrap align-content-start start"></div>
						</div>
						<!-- Modal Footer -->
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
	<footer>
		{% include 'footer.html' %}
	</footer>
	{% block script %}
	<script src="{% static 'listDonatur.js' %}"></script>
	{% endblock %}
</body>
</html>