
		body{
			height: 100%;
			/* The image used */
			background-image: url(https://ichef.bbci.co.uk/news/976/cpsprodpb/70E7/production/_103830982_gettyimages-1046032522.jpg); 
			/* Center and scale the image nicely */
			background-position: center;
			background-repeat: no-repeat;
			background-size: 100%;
			background-attachment:fixed; 

		}
		.quotes{
			font-family: 'Seaweed Script', cursive;
			font-size: 40px;
		}
		#bg-text {
		  background-color: rgb(0,0,0); /* Fallback color */
		  background-color: rgba(100,41,38, 0.7); /* Black w/opacity/see-through */
		  position: absolute;
		  top: 50%;
		  left: 50%;
		  padding: 20px;
		  transform: translate(-50%, -50%);
		  z-index: 2;
		  width: 80%;
		  height: 100%;
		  bottom: 80%;
		  border-radius: 200px;
		  font-family: 'Secular One', sans-serif;
		}

		.container{
			text-align: center;
			color: white;
		}

		.col-md-12{
			padding-top: 30px;
		}

		.square{
			background-color: #ff9999;
			color: black;
			width: 30%;
			margin-left: auto;
			margin-right: auto;
		}