<footer>
    <div class="footer-area-bottom">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                &copy; Copyright <strong>Yayasan Sinar Perak</strong>. Kelompok D5 PPW 2018
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>