<head><link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"></head>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: Gainsboro;">
  <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="navbar-brand" href="/" style="">
    <img src="https://image.ibb.co/nhxWkf/HAND-MADE-2.png" width="30" height="30" alt="">
    UntukMereka
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
<!--       <li class="nav-item active">
        <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="nav-link" href="/">Beranda<span class="sr-only">(current)</span></a>
      </li> -->
      <li class="nav-item active">
        <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="nav-link" href="/app_ayu/news">Berita<span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item active">
        <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="nav-link" href="/app_ayu/tentangkami">Tentang Kami<span class="sr-only">(current)</span></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a style="text-align: center; font-family: 'Nunito', sans-serif;" class="nav-link" href="/history">Profil<span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
    </ul>

    {% if user.is_authenticated %}

        <h5 style="text-align: center; font-family: 'Nunito', sans-serif;">Hello, {{user.first_name}} {{user.last_name}}</h5>
        <br>
        <a style="text-align: center; font-family: 'Nunito', sans-serif; color: black" href="{% url 'logout' %}">logout </a>

    <!-- <button class="btn btn-danger"><a href="{% url 'logout' %}">Logout</a></button> -->

    {% else%}
    <span><a href="{% url 'social:begin' 'google-oauth2' %}"><button class="btn btn-danger">Login With Google</button></a> </span>
    {% endif %}

    <!-- <a href="/app_aulia/daftar" class="btn btn-primary" role="button" aria-pressed="true" style="float: right;">Masuk</a> -->

  </div>
</nav>